body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.click_to_copy{
  z-index: 1;
}

.red{
  background-color: red;
}

.green{
  background-color:green;
}

.english, .chinese_paragraph{
  display: block;
  border: 1px grey solid;
  height: 40%;
  width: 80%;
  margin-left: 10%;
  text-align: left;
  font-size: 30px;
}
.questions button {
  display: block;
  width: 80%;
  margin-left: 10%;
  height: 70px;
  font-size: 23px;
}
.questions input {
  display: block;
  width: 20%;
  margin-left: 40%;
}

.questions label{
  font-size: 24px;
  font-weight: 350;
  padding: 1%;
}

.title{
  font-size: 30px;
  font-weight: 700;
}

section{
  margin: 6% 0 0 0;
}